#main{
    height: 340px;
    background-image: url(../images/36ced675fffdf7503938e3778dc8b3ca.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.line{
	color: #81c132 !important;
}
.desc{
    padding: 0px 270px;
}
.d-flex {
	background-color: #81c132;
}
.card {
	margin-top: -140px;
	margin-bottom: 50px;
}
